affine==2.4.0
aiobotocore==3.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
alphashape==1.3.1
anndata==0.11.4
array-api-compat==1.14.0
asciitree==0.3.3
async-timeout==5.0.1
attrs==25.4.0
botocore==1.42.61
cellcharter==0.3.5
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
click-log==0.4.0
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
colorcet==3.1.0
contourpy==1.3.2
cycler==0.12.1
dask==2024.11.2
dask-expr==1.1.19
dask-image==2025.11.0
datashader==0.18.2
docrep==0.3.2
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fasteners==0.20
filelock==3.25.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
geopandas==1.1.2
gridgene @ git+https://github.com/deMirandaLab/GRIDGENE@eb62b96522a019d91363b572470795bf6a3cf858
h5py==3.15.1
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
inflect==7.5.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
kiwisolver==1.4.9
lazy_loader==0.4
legacy-api-wrap==1.5
lightning-utilities==0.15.3
llvmlite==0.46.0
locket==1.0.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-scalebar==0.9.0
mdurl==0.1.2
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.1
multipledispatch==1.0.0
multiscale_spatial_image==2.0.3
natsort==8.4.0
networkx==3.4.2
numba==0.64.0
numcodecs==0.13.1
numpy==2.2.6
ome-zarr==0.11.1
omnipath==1.0.12
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
param==2.3.2
partd==1.4.2
patsy==1.0.2
pillow==12.1.1
PIMS==0.7
platformdirs==4.9.4
pooch==1.9.0
propcache==0.4.1
pyarrow==23.0.1
pyct==0.6.0
Pygments==2.19.2
pynndescent==0.6.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.1
pytz==2026.1.post1
PyYAML==6.0.3
rasterio==1.4.4
requests==2.32.5
rich==14.3.3
rtree==1.4.1
s3fs==2026.2.0
scanpy==1.11.5
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
session-info2==0.4
session_info==1.0.1
shapely==2.1.2
six==1.17.0
sknw==0.15
slicerator==1.1.0
spatial_image==1.2.3
spatialdata==0.5.0
spatialdata-plot==0.2.12
squidpy==1.6.5
statsmodels==0.14.6
stdlib-list==0.12.0
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
toolz==1.1.0
torch==2.10.0
torchgmm==0.1.4
torchmetrics==1.8.2
tqdm==4.67.3
trimesh==4.11.3
typeguard==4.5.1
typing_extensions==4.15.0
tzdata==2025.3
umap-learn==0.5.11
urllib3==2.6.3
validators==0.35.0
wrapt==2.1.2
xarray==2025.6.1
xarray-dataclass==3.0.0
xarray-schema==0.0.3
xarray-spatial==0.5.3
yarl==1.23.0
zarr==2.18.3
zipp==3.23.0
